/*左边导航栏*/
div.tabtitle {
    border: 1px solid #eee;
    width: 20%;
    font-size: 20px;
    padding: 22px 16px;
    /*background-color: :#000000; 为什么这里设置背景颜色不生效*/ 
}

/* Style the tab */
div.tab {
    border: 1px solid #eee;
    width: 20%;
    height: 2000px;
    /*background-color: :#ffffff;为什么这里设置背景颜色不生效*/
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: 1px ;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    /*border: 1px solid #ccc;*/
    width: 80%;
    border-left: none;
    height: 300px;
}


